.button-container {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 16px;
    justify-content: center;
  }
  
  .button-card {
    background: #ffffff; /* White background for the card */
    border-radius: 12px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); /* Subtle shadow */
    border: 1px solid rgba(0, 0, 0, 0.1); /* Light border */
    width: 10vw;
  
    text-align: center;
    font-family: "San Francisco", Arial, sans-serif; /* Apple-like font */
    font-size: 16px;
    font-weight: 600;
    color: #333333;
    cursor: pointer;
    transition: all 0.1s ease;
  }
/*   
  .button-card:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.12);
    transform: translateY(-4px);
    background: #f8f9fa;
  }
   */
  .button-card:active {
    transform: translateY(2px); /* Button presses down slightly */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); /* Reduced shadow */
  }
  
